@font-face {
	font-family:'FontAwesome';
	src:url('fonts/fontawesome-webfont.eot?v=4.7.0');
	src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
		url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
		url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
		url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'GothamHTF-Book';
	src:url('fonts/hinted-GothamHTF-Book.eot?v=4.7.0');
	src:url('fonts/hinted-GothamHTF-Book.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('fonts/hinted-GothamHTF-Book.woff2?v=4.7.0') format('woff2'), 
		url('fonts/hinted-GothamHTF-Book.woff?v=4.7.0') format('woff'),
		url('fonts/hinted-GothamHTF-Book.ttf?v=4.7.0') format('truetype'),
		url('fonts/hinted-GothamHTF-Book.svg?v=4.7.0#hinted-GothamHTF-Book') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'GothamHTF-Bold';
	src:url('fonts/hinted-GothamHTF-Bold.eot?v=4.7.0');
	src:url('fonts/hinted-GothamHTF-Bold.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('fonts/hinted-GothamHTF-Bold.woff2?v=4.7.0') format('woff2'), 
		url('fonts/hinted-GothamHTF-Bold.woff?v=4.7.0') format('woff'),
		url('fonts/hinted-GothamHTF-Bold.ttf?v=4.7.0') format('truetype'),
		url('fonts/hinted-GothamHTF-Bold.svg?v=4.7.0#GothamHTF-Bold') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'GothamHTF-Medium';
	src:url('fonts/hinted-GothamHTF-Medium.eot?v=4.7.0');
	src:url('fonts/hinted-GothamHTF-Medium.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('fonts/hinted-GothamHTF-Medium.woff2?v=4.7.0') format('woff2'), 
		url('fonts/hinted-GothamHTF-Medium.woff?v=4.7.0') format('woff'),
		url('fonts/hinted-GothamHTF-Medium.ttf?v=4.7.0') format('truetype'),
		url('fonts/hinted-GothamHTF-Medium.svg?v=4.7.0#GothamHTF-Medium') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'GothamHTF-Light';
	src:url('fonts/hinted-GothamHTF-Light.eot?v=4.7.0');
	src:url('fonts/hinted-GothamHTF-Light.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('fonts/hinted-GothamHTF-Light.woff2?v=4.7.0') format('woff2'), 
		url('fonts/hinted-GothamHTF-Light.woff?v=4.7.0') format('woff'),
		url('fonts/hinted-GothamHTF-Light.ttf?v=4.7.0') format('truetype'),
		url('fonts/hinted-GothamHTF-Light.svg?v=4.7.0#GothamHTF-Light') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'GothamHTF-Black';
	src:url('fonts/hinted-GothamHTF-Black.eot?v=4.7.0');
	src:url('fonts/hinted-GothamHTF-Black.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('fonts/hinted-GothamHTF-Black.woff2?v=4.7.0') format('woff2'), 
		url('fonts/hinted-GothamHTF-Black.woff?v=4.7.0') format('woff'),
		url('fonts/hinted-GothamHTF-Black.ttf?v=4.7.0') format('truetype'),
		url('fonts/hinted-GothamHTF-Black.svg?v=4.7.0#GothamHTF-Black') format('svg');
	font-weight:normal;
	font-style:normal;
}



