//ANCHO

@media screen and (min-width: 1320px){
	section {
		&.home .welcome .navigator {
			.box {
				padding: 2.5em 0;
			}
		}
	}
}










.iconNav {
	// display: block;
	// background: #fff;
	// border: 2px solid rgba(255,255,255,.9);
	background: $secondary;
	// box-shadow:inset 0 0 1px 1px rgba(255,255,255,7);
	border-radius: 50%;
	width: 2em;
	height: 2em;
	margin: auto;
}

svg {
	width: 2em;
	height: 2em;
	cursor: pointer;
	transform: translate3d(0, 0, 0);
}
path {
	fill: none;
	transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	stroke-width: 40px;
	stroke-linecap: round;
	stroke: #fff;
	stroke-dashoffset: 0px;
}
path#top,
path#bottom {
	stroke-dasharray: 200px 950px;
}
path#middle {
	stroke-dasharray: 200px 240px;
}
.cross path#top,
.cross path#bottom {
	stroke-dashoffset: -670px;
	stroke-dashoffset: -670px;
}
.cross path#middle {
	stroke-dashoffset: -115px;
	stroke-dasharray: 1px 220px;
}



















///////////////////////////////////////////////////////////////////////////////////
//ALTO
@media screen and (max-height: 730px){

}
@media screen and (max-height: 400px){

}
///////////////////////////////////////////////////////////////////////////////////
//MOBILE
@media screen and (max-width: 768px){
	
}
// ADDS
@media screen and (max-width: 375px){

}
@media screen and (max-width: 340px){

}
