//IMPORTACIONES
@import 'normalize';
@import "fonts";
@import "font-awesome";
// @import "../../libs/lity/lity.css";
@import "../../libs/slick/slick.css";
@import "tippy";
///////////////////////////////////////////////////////////////////////////////////
//COLORES
$hopbush: #B55994;
$frenchlilac: #FFD5FF;
///////////////////////////////////////////////////////////////////////////////////
//FUENTES

///////////////////////////////////////////////////////////////////////////////////
//FUNCIONES
@mixin centerscreen() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@mixin transition($transition) {
	transition: all ease-in-out $transition;
}

///////////////////////////////////////////////////////////////////////////////////
//ESTILO PLACEHOLDER

///////////////////////////////////////////////////////////////////////////////////
//ANIMACIONES

///////////////////////////////////////////////////////////////////////////////////
//ESTILOS

/*====================
ADD
====================*/

$white: #fff;
$black: #141414;
$yellow: #dcc380;
$orange: #FCAF17;

$primary: #ef003e;
$secondary: #1340bb;


#idPreloader{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;

	// background: #33CCCC;
	background: #2D2F29;
	// background: -moz-radial-gradient(center, ellipse cover, #FFF 0%, #FB6472 100%);
	// background: -webkit-radial-gradient(center, ellipse cover, #FFF 0%, #FB6472 100%);
	// background: radial-gradient(ellipse at center, #FFF 0%, #FB6472 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#FB6472',GradientType=1 );
}



.bodySinScroll {
	overflow: hidden;
}
@mixin center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin ulcero {
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
}
.container {
	width: 100%;
	max-width: calc(980px + 10%);
	margin: 0 auto;
	padding: 0 5% 0 5%;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
	color: inherit;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&.btn {
		display: block;
		// background: $white;
		color: $black;
		padding: .5em 1em;
		width: 100%;
		max-width: 15em;
		margin: 0 auto;
		text-align: center;
		box-sizing: border-box;
		&:hover {
			
		}
	}
}

input {
	display: block;
	background: #fff;
	width: 100%;
	padding: .7em .5em;
	border: 1px solid #d7d7d7;
	box-sizing: border-box;
	&[type="submit"] {
		-webkit-appearance: none;
		border-left: 0;
	}
	&:focus {
		outline: none;
		box-shadow: inset 0 0 15px 0 rgba(52,91,119,.5);
	}
	&:hover {
		box-shadow: inset 0 0 15px 0 rgba(52,91,119,.5);
		transition: all ease-in-out .3s;
	}
	&.error {
		&:focus {
			box-shadow: inset 0 0 15px 0 rgba(255,0,0,.5);
			// box-shadow: inset 0 0 15px 0 red;
		}
	}
}


/*====================
MAIN
====================*/

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Arial', Helvetica, sans-serif;
	line-height: 150%;
}

header {
	.container {
		display: flex;
		align-items: center;
		.left {
			width: 25%;
			span {
				font-weight: 100;
			}
		}
		.right {
			width: 75%;
			margin-bottom: 1em;
			@include ulcero;
			.top {
				text-align: right;
				ul {
					li {
						display: inline-block;
						padding: .5em;
						font-size: 12px;
						color: #3A3345;
						&:last-child {
							padding-right: 0;
						}
					}
				}
			}
			.bottom {
				display: flex;
				justify-content: space-between;
				.search {
					width: 100%;
					max-width: 500px;
					display: flex;
					input {
						height: 2em;
						padding: 0 .5em;
						border-right: 0;
					}
					a {
						display: block;
						background: $orange;
						width: 2em;
						height: 2em;
						display: flex;
						justify-content: center;
						align-items: center;
						text-align: center;
						i {
							color: #fff;
						}
					}
				}
			}
		}
	}
}

nav{
	background: #323232;
	.container {
		@include ulcero;
		display: flex;
		justify-content: space-between;
		ul {
			display: flex;
			font-weight: 700;
			li {
				padding: .4em .5em;
			}
		}
		.navigation {
			position: relative;
			ul.menu {
				li {
					color: $orange;
					text-transform: uppercase;
					padding: .4em 0;
					a {
						padding: 0 1em;
						border-right: 1px solid #5b5b5b;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			.submenu {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				background: $white;
				width: 450px;
				height: 330px;
				padding: 1em;
				box-sizing: border-box;
				border: 1px solid #e1e1e1;
				z-index: 9;
				.contenedor {
					display: flex;
				}
				ul {
					display: block;
					padding: 0;
					font-weight: initial;
					li {
						padding: 0;
					}
				}

				.arrow-up {
					position: absolute;
					top: -7px;
					left: 3em;
					width: 0; 
					height: 0; 
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;

					border-bottom: 7px solid $white;
				}
				.box {
					&.left {
						width: 210px;
						border-right: 2px solid #e1e1e1;
						box-sizing: border-box;
						span {
							background: $orange;
							font-weight: bold;
							text-transform: uppercase;
							padding: 5px;
						}
						ul {
							margin-top: 1em;
							li {
								line-height: 150%;
								&:last-child {
									display: flex;
									align-items: center;
									font-weight: bold;
								}
								i {
									background: #000;
									width: 1em;
									height: 1em;
									font-size: .7em;
									text-align: center;
									color: $white;
									border-radius: 50%;
									font-weight: bold;
									padding: 2px;
									margin-left: 5px;
								}
								a:hover {
									text-decoration: underline;
								}
							}
						}
					}
					&.right {
						width: 240px;
						.thumbnail {
							width: 100%;
							max-width: 180px;
							border: 2px solid #e1e1e1;
							margin: 0 auto;
							img {
								width: 100%;
							}
						}
						.excerpt {
							width: 100%;
							max-width: 180px;
							margin: 0 auto;
							h4 {
								margin: 15px 0;
								text-transform: uppercase;
								font-weight: bold;
								line-height: 100%;
							}
							.price {
								font-size: 15px;
								color: #D44700;
								ul {
									display: flex;
									justify-content: space-between;
									align-items: center;
									font-weight: bold;
									li {
										&.brand {
											width: 2em;
											img {
												display: block;
												width: 100%;
												height: auto;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.carrito {
			ul {
				li {
					color: #fff;
					&:first-child {
						font-size: .85em;
					}
					i {
						color: $orange;
					}
				}
			}
		}
	}
}

section {
	.boxSlider {
		margin-top: 28px;
		.slick-dots {
			position: absolute;
			right: 0;
			bottom: 1em;
			left: 0;
			margin: auto;
			text-align: center;
			li {
				display: inline-block;
				padding: 0 .2em;
				line-height: 100%;
				&.slick-active {
					button {
						background: $white;
					}
				}
				button {
					font-size: 0;
					padding: 0;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: #818f98;
					border: 0;
					cursor: pointer;
					-webkit-box-shadow: 1px 1px 5px 1px #000;
					box-shadow: 1px 1px 5px 1px #000;
					transition: .5s all ease-out;
					&:hover {
						background: $white;
					}
					&:focus {
						outline: none;
					}
				}
				&:before {
					content: none !important;
				}
			}
		}
	}
	.brands {
		@include ulcero;
		ul {
			display: flex;
			justify-content: space-around;
			text-align: center;
			flex-wrap: wrap;
			margin: 2em 0;
			li{
			} 
		}
	}

	.wrapper {
		.container {
			@include clearfix;
			@include ulcero;
			.box {
				float: left;
				&.sidebar {
					width: 20%;
					margin-right: 5%;
					.filtro {
						display: block;
						text-transform: uppercase;
						font-size: .8em;
						font-style: italic;
						font-weight: bold;
						margin-bottom: 1em;
					}
					input {
						width: initial;
						margin: -5px .25em 0 0;
					}
					& > ul > li {
						padding: .5em 0;
						span {
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding: .25em .5em;

							background: #000;
							color: #fff;
							text-transform: uppercase;
							font-weight: bold;
							cursor: pointer;
							&:hover {
								background: $orange;
							}
							i {
								cursor: pointer;
								color: #5c5c5c;
								background: $white;
								border-radius: 50%;
								width: 1em;
								height: 1em;
								text-align: center;
							}
						}
					}
					ul li {
						&.active {
							span {
								background: $orange;
								i {
									color: $orange;
								}
							}
						}
						ul {
							max-height: 0;
							overflow: hidden;
							transition: all ease-in-out .3s;
							&.show {
								padding: 1em 0 0 0;
								max-height: 1000px;
							}
							li {
								display: flex;
								align-items: center;
							}
						}
					}
				}
				&.products {
					width: 75%;
					& > ul > li {
						width: 23.5%;
						float: left;
						margin: 0 2% 2em 0;
						&:nth-child(4n) {
							margin-right: 0;
						}
					}
					.image {
						border: 1px solid #d7d7d7;
						border-radius: 3px;
						position: relative;
						&:after {
							content: url(../img/shadow.jpg);
							position: absolute;
							bottom: -15px;
						}
						img {
							display: block;
							width: 100%;
							height: auto;
						}
					}
					.excerpt {
						padding-top: 1.8em;
						position: relative;
						.oferta {
							position: absolute;
							top: .7em;
							left: 0;
							width: 100%;

							background: #e12b37;
							text-align: center;
							text-transform: uppercase;
							color: $white;
							font-weight: bold;
							font-size: .75em;
							line-height: 150%;
						}
						h4 {
							text-transform: uppercase;
							font-size: 15px;
							line-height: 120%;
							color: #231F20;
							min-height: 4em;
							margin: 0;
						}
						.price {
							font-size: 15px;
							color: #D44700;
							ul {
								display: flex;
								justify-content: space-between;
								align-items: center;
								font-weight: bold;
								li {
									&.brand {
										width: 2em;
										img {
											display: block;
											width: 100%;
											height: auto;
										}
									}
								}
							}
						}
						.category {
							font-size: 11px;
							font-weight: bold;
							text-transform: uppercase;
							color: #5c5c5c;
						}
					}	
				}
			}
		}
	}
}











// FOOTER

#footer {
	background: #221e1f;
	@include ulcero;
	.container {
		ul {
			text-align: right;
			padding: .75em 0;
			li {
				display: inline-block;
				vertical-align: middle;
				padding: 0 0 0 1em;
			}
		}
	}
}


















///////////////////////////////////////////////////////////////////////////////////
//MEDIAQUERYS
@import "mediaquerys";
